---
- name: 'Create the nginx-gateway namespace'
  ansible.builtin.shell:  "kubectl create ns nginx-gateway"

- name: 'Install the nginx gateway fabric crds'
  ansible.builtin.shell:
    cmd: "kubectl kustomize 'https://github.com/nginx/nginx-gateway-fabric/config/crd/gateway-api/standard?ref=v2.2.2' | kubectl apply -f -"

- name: 'Use helm to install the nginx-gateway'
  kubernetes.core.helm:
    release_name: ngf
    release_namespace: nginx-gateway
    chart_ref: oci://ghcr.io/nginx/charts/nginx-gateway-fabric
    set_values:
      - value: nginx.service.type=NodePort
      - value: "nginx.service.nodePorts=[{\"port\":30080,\"listenerPort\":80}]"
        value_type: json
    wait: true

- name: 'Copy over the gateway class and http gateway yaml'
  ansible.builtin.copy:
    src: nginx-gateway.yaml
    dest: /home/ubuntu
    force: true

- name: 'Apply the gateway class and http gatway yaml'
  ansible.builtin.shell:  kubectl apply -f nginx-gateway.yaml
...